# This is a basic workflow to help you get started with Actions

name: testing of choosing envs

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      env:
        description: 'choose env'
        type: environment
        required: true

      envstring:
        description: 'env name as a string'
        required: true 
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  validate-env:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: validate env input
        id: validate
        run: |
          ENV_INPUT="${{ github.event.inputs.envstring }}"
          if jq -e --arg env "$ENV_INPUT" 'index($env)' envs.json > /dev/null; then
            echo "Environment is valid: $ENV_INPUT"
          else
            echo "Error: Provided environment '$ENV_INPUT' is not valid. Allowed values are: $(jq -r '.[]' envs.json | paste -sd ',')"
            exit 1
          fi
        
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
